.main
  .main__header
    .main__header__left
      .main__header__left__group
        = @group.name
      .main__header__left__member
        Member : 
        - @group.group_users.each do |group_user|
          = group_user.user.name
    = link_to 'Edit', edit_group_path(@group), class:"edit-btn"
  .main__messages
    = render @messages
  .main__bottom
    = form_for [@group, @message] do |f|
      .form__box
        = f.text_field :content, class: 'form__message', placeholder: "type a message"
        = f.label :image, class: 'form__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__send'