.sidebar
  .sidebar__header
    .sidebar__header__line
      = current_user.name
      .sidebar__header__line__icons
        = link_to icon('fa', 'edit'),new_group_path
        = link_to icon('fa', 'cog'),edit_user_path(current_user)
  .sidebar__list
    - current_user.groups.each do |group|
      .sidebar__list__contents
        = link_to '#' do
          .sidebar__list__contents__group
            = group.name
          .sidebar__list__contents__news
            メッセージはまだありません。
    